<div id="recently_viewed_container"></div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    Spree.fetch_recently_viewed_products('<%= @product.try(:id) %>');
  });
</script>
